@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Bouvet colors */
  --primary-colossus: #11133c;
  --primary-nerdy-off-white: #f9ead4;
  --primary-black: #030504;
  --primary-white: #ffffff;
  --contrast-boris-orange: #f9a86f;
  --contrast-hal-red: #eb1d4b;
  --contrast-network-green: #79fe9d;
  --secondary-cloak-blue: #0617bf;
  --secondary-blue: #1d43c6;
  --secondary-worp-blue: #c3d5e1;
  --secondary-cool-blue: #eef5f9;
  --secondary-collins-gray: #f2f2f2;
  --darkmode-black: #1a1b26;
  --darkmode-white: #e4e4e4;

  --background: var(--primary-nerdy-off-white);
  --foreground: var(--primary-colossus);
}

[data-mode="dark"] {
  --background: var(--darkmode-black);
  --foreground: var(--darkmode-white);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* Survey section */
  .survey-section {
    @apply px-5 mx-auto flex flex-col max-w-8xl lg:px-app-padding-x pt-40;
  }

  .section-title {
    @apply w-full text-5xl font-bold mb-5;
  }

  .chart-container {
    @apply w-full h-full relative px-8 flex flex-col justify-between;
  }
}

.chart-container.dotplot .ytick text {
  text-anchor: start;
}
